<html lang='en'>
  <head>
    {{>head}}
  </head>
  <body>
    {{>nav}}

    <div class="container-fluid col-lg-12 col-md-6 d-flex justify-content-center my-3">
      <img class="my-5 img" src="../../public/img/robot.png" alt="">
    </div>
    {{>footer}}
    <script src="../../public/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>