<footer class='container-fluid bg-light'>
  <div class='container d-flex col-lg-12'>

    <div class='container col-lg-8 my-2'>
      <p>Copyright © 2022 Weather App</p>
    </div>
    <div class='container col-lg-4 my-2'>
      <p>Created by Abid Hossain Mazumder</p>
    </div>
  </div>

</footer>